
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

        
    {% tailwind_css %}
</head>
<body class="min-h-screen bg-gray-100">
   
    <div class="flex flex-col min-h-screen">
     
        <header class="bg-white z-10 sticky top-0">
            {% include "components/header.html" %}
        </header>        
      
        <div class="flex flex-1">
          
            <aside class="w-64 bg-white h-screen overflow-y-auto">
                {% include "components/sidebar.html" %}
            </aside>

            
                <main class="flex-1 py-10 p-10 overflow-auto">
                    <h1 class="text-2xl font-semibold text-gray-700">All</h1>
                    <div class="py-4 flex flex-wrap justify-start gap-6">
                        {% include "components/productcard.html" %}
                    
                    </div>
                </main>
            
        </div>
    </div>
</body>

                
</html>
